/* Layout */
.navbar-inventti {}
.logo-inventti { margin-top: -5px; }
.wrapper-content { padding-top: 51px; }

/* Helpers */
.no-margin { margin: 0 !important; }

.txt-left { text-align: left; }
.txt-center { text-align: center; }
.txt-right { text-align: right; }

.w50 { width: 50px; }
.w100 { width: 100px; }

/* Grid */
table {
	td {}
}
